amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
dj-database-url==0.4.1
Django==1.10
django-redis-cache==1.6.5
gunicorn==19.6.0
kombu==3.0.35
oauthlib==1.1.2
psycopg2==2.6.2
pytz==2016.6.1
redis==2.10.5
requests==2.11.0
requests-oauthlib==0.6.2
twython==3.4.0
